# Laravel
/backend/vendor
/backend/node_modules
/backend/.env
/backend/storage/*.key
/backend/database/database.sqlite

# Vue/Frontend 
/frontend/node_modules
/frontend/dist
/frontend/.env

# System
.DS_Store
Thumbs.db