@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg: #f8fafc;
  --bgSoft: #f1f5f9;
  --bgHard: #e2e8f0;
  --accent: #3b82f6;
  --text: #0f172a;
  --border: #cbd5e1;
}


.btn {
  padding: 10px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}